@import url("https://fonts.googleapis.com/css2?family=Mali:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
html {
  font-family: "Mali", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container-1200 {
  max-width: 1200px;
  padding: 0.1rem;
  margin: auto;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none !important;
}

.justify-content-between {
  justify-content: space-between;
}

.align-center {
  align-content: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-20 {
  width: 20%;
}

.bg-white {
  background-color: #fff !important;
}

.bg-1 {
  background-color: #FED049 !important;
}

.bg-2 {
  background-color: #22A39F !important;
}

.bg-3 {
  background-color: #0014FF !important;
}

.bg-4 {
  background-color: #5F8D4E !important;
}

.bg-5 {
  background-color: #DC3535 !important;
}

.bg-purple {
  background-color: #6C4AB6;
}

.text-white {
  color: #fff;
}

.border-style-1 {
  border: 2px solid #a9a9a9;
}

@-webkit-keyframes wave {
  0% {
    -webkit-clip-path: polygon(0% 40%, 10% 50%, 15% 65%, 20% 70%, 30% 60%, 40% 60%, 50% 75%, 70% 60%, 90% 60%, 95% 50%, 100% 0);
            clip-path: polygon(0% 40%, 10% 50%, 15% 65%, 20% 70%, 30% 60%, 40% 60%, 50% 75%, 70% 60%, 90% 60%, 95% 50%, 100% 0);
  }
  100% {
    -webkit-clip-path: polygon(0% 50%, 10% 40%, 15% 45%, 20% 50%, 30% 70%, 40% 65%, 50% 65%, 70% 55%, 90% 55%, 95% 35%, 100% 0);
            clip-path: polygon(0% 50%, 10% 40%, 15% 45%, 20% 50%, 30% 70%, 40% 65%, 50% 65%, 70% 55%, 90% 55%, 95% 35%, 100% 0);
  }
}

@keyframes wave {
  0% {
    -webkit-clip-path: polygon(0% 40%, 10% 50%, 15% 65%, 20% 70%, 30% 60%, 40% 60%, 50% 75%, 70% 60%, 90% 60%, 95% 50%, 100% 0);
            clip-path: polygon(0% 40%, 10% 50%, 15% 65%, 20% 70%, 30% 60%, 40% 60%, 50% 75%, 70% 60%, 90% 60%, 95% 50%, 100% 0);
  }
  100% {
    -webkit-clip-path: polygon(0% 50%, 10% 40%, 15% 45%, 20% 50%, 30% 70%, 40% 65%, 50% 65%, 70% 55%, 90% 55%, 95% 35%, 100% 0);
            clip-path: polygon(0% 50%, 10% 40%, 15% 45%, 20% 50%, 30% 70%, 40% 65%, 50% 65%, 70% 55%, 90% 55%, 95% 35%, 100% 0);
  }
}
@-webkit-keyframes spin {
  50% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
@keyframes spin {
  50% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
@-webkit-keyframes shake {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shake {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}
.loading-screen {
  width: 100%;
  height: 100vh;
  background-color: #5855c0;
  color: #fff;
  position: relative;
}
.loading-screen .content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading-screen .content .title {
  max-width: 400px;
}
.loading-screen .content .title h1 {
  font-size: 3.5rem;
}
.loading-screen .content .title h1:nth-child(1) {
  -webkit-text-stroke: 2px #cf9581;
}
.loading-screen .content .title h1:nth-child(2) {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-animation: 3s wave infinite;
          animation: 3s wave infinite;
  background: transparent;
}
.loading-screen .content .spinner {
  margin-top: 2rem;
  width: 100px;
  height: 100px;
  border: 10px solid #445577;
  border-radius: 50%;
  border-color: #445577 transparent #445577 transparent;
  -webkit-animation: 2s spin infinite;
          animation: 2s spin infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.start-screen-info {
  position: relative;
  margin-top: 2rem;
  padding: 0 4rem;
}
.start-screen-info img {
  width: 40px;
  position: absolute;
  left: 3%;
}
.start-screen-info p {
  font-size: 1.5rem;
  color: #000;
  margin-top: 1rem;
}

.start-screen {
  width: 100%;
  height: 100vh;
  background-color: #5855c0;
  color: #fff;
  padding: 3rem 0;
}
.start-screen img {
  cursor: pointer;
}
.start-screen img:hover {
  opacity: 0.7;
}
.start-screen > .content {
  max-width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 2rem;
  background-color: #DDD6CE;
  border-bottom: 15px solid #cf9581;
  position: relative;
  border-radius: 35px;
  padding-bottom: 2rem;
}
.start-screen > .content h1 {
  width: 40%;
  padding: 0.75rem 0;
  margin: auto;
  text-align: center;
  background-color: #cf9581;
  border-radius: 0 0 5px 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.start-screen > .content h2 {
  font-size: 3rem;
  letter-spacing: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #5855c0;
}
.start-screen > .content .stage {
  width: 80%;
  position: relative;
  top: 5%;
  margin: auto;
  margin-top: 2rem;
}
.start-screen > .content .stage .stage-box {
  width: 80%;
  margin: auto;
}
.start-screen > .content .stage .stage-box img {
  width: 100%;
}
.start-screen > .content .stage .stage-box:nth-child(2) {
  margin-top: 1.25rem;
}
.start-screen > .content .stage .stage-previous {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  color: #000;
  top: 15%;
  left: -7%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #cf9581 !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-screen > .content .stage .stage-next {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  color: #000;
  top: 15%;
  right: -7%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #cf9581 !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-screen > .content .actions {
  position: relative;
  width: 42%;
  margin: auto;
  margin-top: 6rem;
}
.start-screen > .content .actions img {
  width: 80px;
  cursor: pointer;
}
.start-screen > .content .actions img:hover {
  opacity: 0.6;
}
.start-screen > .content .actions img.play {
  transform: translateY(-40px);
}

.game-screen {
  background-color: #5855c0;
  width: 100%;
  height: 100vh;
  padding: 0.1rem;
}
.game-screen .content {
  max-width: 600px;
  height: 800px;
  margin: auto;
  margin-top: 3rem;
  position: relative;
  background-color: #DDD6CE;
  border-bottom: 12px solid #cf9581;
  position: relative;
  border-radius: 35px;
  padding-bottom: 2rem;
}
.game-screen .status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #4b086d;
  color: #fff;
}
.game-screen .status-assets {
  display: flex;
}
.game-screen .status-assets-diamond {
  display: flex;
  align-items: center;
}
.game-screen .status-assets-diamond img {
  width: 32px;
  margin-left: 0.4rem;
}
.game-screen .status-assets-coin {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
.game-screen .status-assets-coin img {
  width: 2rem;
  margin-left: 0.4rem;
}
.game-screen .board {
  max-width: 600px;
  margin: auto;
  height: 400px;
  position: relative;
  border-radius: 5px;
}
.game-screen .board-square {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #4b086d;
  border-radius: 6px;
}
.game-screen .board-letter {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #4b086d;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-screen .gamepad {
  position: relative;
  width: 200px;
  margin: 2rem auto;
  height: 200px;
  border-radius: 5px;
  border-radius: 50%;
  -webkit-animation: shake 0.2s;
          animation: shake 0.2s;
}
.game-screen .gamepad-square {
  position: absolute;
  color: #fff;
  background-color: #cf9581;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d5d5d5;
  font-weight: bold;
  border-radius: 50%;
}
.game-screen .gamepad-square:hover {
  background-color: #ac92ec;
}
.game-screen .gamepad-square .selected {
  background-color: #ac92ec !important;
}
.game-screen .gamepad-shuffle {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  background-color: #48cfad;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.game-screen .eraser {
  position: absolute;
  right: 0;
  bottom: 30%;
  border-radius: 50%;
  border: 2px solid #a9a9a9;
  padding: 0.4rem;
  color: palegoldenrod;
  cursor: pointer;
}
.game-screen .eraser img {
  width: 40px;
  height: 40px;
  transform: rotateZ(90deg);
}

.modal-won {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 50%;
  margin: auto;
  top: 0;
  z-index: 5;
  transform: translateX(-50%);
  margin-top: 3rem;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-won .content {
  width: 500px;
  margin-top: 2.5rem;
  background-color: #DDD6CE;
  border: 4px solid #eee;
  border-radius: 5px;
  outline: 4px solid black;
}
.modal-won .content h1 {
  text-align: center;
  width: 40%;
  margin: auto;
  background-color: #cf9581;
  border-radius: 0 0 5px 5px;
}
.modal-won .content p {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}
.modal-won .content div {
  width: 220px;
  margin: auto;
  margin-top: 1.25rem;
}
.modal-won .content div button {
  padding: 1rem 1.2rem;
  border-radius: 5px;
  background-color: #26968b;
  margin-right: 1rem;
}

html {
  font-family: "Itim", cursive;
}

.added-word {
  position: relative;
  background-color: #868686;
  color: #000;
  padding: 0.4rem 0.6rem;
}

.generator-head {
  max-width: 800px;
  margin: auto;
  border: 2px solid #a9a9a9;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 4rem 3rem;
  background-color: #fff;
}
.generator-head-info {
  margin-top: 2rem;
  padding: 1.5rem 1rem;
  border: 2px solid #a9a9a9;
  border-radius: 5px;
  border-left: 4px solid #00dd09;
}
.generator-head-box {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.generator-head-box .words input {
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  width: 100%;
  margin: auto;
  border: 3px solid #e9e9e9;
  border-radius: 4px;
  border-bottom-color: #6881C9;
  outline: none;
}
.generator-head-box .words input:hover {
  border-bottom-color: #00dd09;
}
.generator-head-box .words .list {
  margin-top: 2rem;
}
.generator-head-box .words .list span {
  background-color: #f5f5f5;
  border: 2px solid #d5d5d5;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  margin-left: 1rem;
}
.generator-head-box .words .list span:hover {
  background-color: #A3C7D6;
}
.generator-head-box .settings {
  margin-left: 0.5rem;
}
.generator-head-box .settings div:nth-child(1) {
  margin-bottom: 1rem;
}
.generator-head-box .settings div:nth-child(1) span {
  margin-right: 0.5rem;
}
.generator-head-box .settings div:nth-child(2) span {
  margin-right: 1rem;
}
.generator-head-box .settings div:nth-child(2) input {
  border: none;
  border-bottom: 2px solid rgba(0, 103, 230, 0.7333333333);
  outline: none;
  margin-right: 0.5rem;
  padding: 0.4rem 0.6rem;
}
.generator-head-box .settings div:nth-child(2) input:hover {
  border-bottom-color: #0067e6;
}
.generator-head-box .button {
  flex: 1;
}
.generator-head-box .button button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #4FA095;
  -webkit-clip-path: polygon(75% 0%, 100% 49%, 75% 100%, 0% 100%, 26% 47%, 0% 0%);
          clip-path: polygon(75% 0%, 100% 49%, 75% 100%, 0% 100%, 26% 47%, 0% 0%);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}
.generator-head-box .button button:hover {
  transform: translateY(3px);
}
.generator-head-box .button button:active {
  background-color: #0030dd;
}
.generator-head-loading {
  margin-top: 2rem;
  width: 100%;
  height: 25px;
  box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: relative;
}
.generator-head-loading div {
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  background: repeating-linear-gradient(45deg, rgb(252, 163, 17) 25%, rgb(252, 130, 25) 25%, rgb(252, 163, 17) 50%, rgb(252, 130, 25) 50%, rgb(252, 163, 17) 75%, rgb(252, 130, 25) 75%, rgb(252, 163, 17) 100%, transparent 100%);
}
.generator-body {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  margin: auto;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
}
.generator-body div {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6C4AB6;
  color: #fff;
}
.generator-body div:hover {
  opacity: 0.7;
}